header {
    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        a {
            color: $colorDefault;
            width: 10rem;
            padding: 1rem;
            border: 2px solid $colorBackground;
            text-align: center;
            text-decoration: none;
            &:hover {
                background-color: $color3;
            }
        }
    }
}

#navActivePage {
    border-bottom: 2px solid $colorDefault;
}