main {
    h1 {
        clear: left;
    }
    img {
        margin: 5px;
        width: 48%;
        float: left;
    }
    p {
        margin: 5px;
        width: 48%;
        float: left;
    }
    section {
        margin: 5px;
        padding: 5px;
    }
}